@CHARSET "UTF-8";
#asideWrap
{
	border: 1px solid black;
    float: left;
    width: 180px;
    height: inherit;
}

#title
{
	line-height: 50px;
	border-bottom : 1px solid black;
	text-align : center;
}

#list
{
	list-style:none;
}

#list li
{
    display: list-item;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
}

#btn
{
	text-align: center;
	width: inherit;
    height: 40px;
    margin: 455px 0 0 0;
}
