@charset "utf-8";
#container {	
	background-color:#ffffff;
	
}
#content {
}

#image {
	background-image: url(../image/main/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center;
	height:700px;
}

#image1 {
	background-image: url(../image/main/aa.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center;
	height:700px;
}

#sidebar{
	padding-top:5px;
	padding-left:10px;
}
#sidebar li:hover{
	border:3px solid #0080ff;	
	
}
@media screen and (max-width:559px) {
#container{
	width: 320px;
}
#content{
	width: 310px;
	padding:5px;
}

#sidebar {
	width:320px;
	margin-top:5px;
	text-align:center;		
}
#sidebar img {
	border: 1px solid #CCC;
	width:90%;
	
}
}
@media screen and (min-width:600px) and (max-width:1023px) {
#container {
}
#content {	
}
#sidebar {
}
#sidebar img {
}
}
@media screen and (min-width:1024px) {
#container {
}
#content {
}

#content img{
}
#sidebar {
	padding-top:10px;
	text-align:center;
}
#sidebar li {
	
	font-weight: bolder;
	border: 3px solid #000;
	width:200px;
	padding: 0px 10px 0px 10px;
	margin: 20px ;
	border-radius: 10px;
}

#sidebar ul li
{
	display: inline-block;
}
