@CHARSET "UTF-8";

#boardWrap
{
    margin: 40px auto;
    height: 690px;
    width: 1000px;
}

#boardListWrap
{
    width: 800px;
    height: 590px;
    float: right;
}

#boardListTable
{
	width: 100%;
}

#boardListHead
{
	background-color: #EAEAEA;
}

#boardListHead tr
{
	height: 40px;
}

#boardListBody
{
	text-align: center;
}

#boardListBody tr
{
	height: 30px;
}

#boardListBody tr td:nth-child(2)
{
	text-align: left;
}

#pagingWrap
{
	text-align: center;	
}

#btnWrap
{
	text-align: right;
}

#writeBtn
{
	
}

#searchingWrap
{
	text-align: center;
}

#categorySelect
{
	
}

#searchingKeyword
{
	
}

#searchingBtn